body {
    position: relative;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* EVERYTHING ABOVE IS FOR CENTERING THE WEBPAGE ONLY - DO NOT TOUCH */

:root {
    --background-color: rgb(32, 34, 37);
    --main-color: rgb(47, 49, 54);
    --lighter-color: rgb(54, 57, 63);
    --input-color: rgb(72, 76, 82);
    --text-color: rgb(216, 217, 218);
}

::placeholder {
    color: gray;
}
     
body {
    background-color: var(--background-color);
    color: white;
}

p {
    margin: auto;
    text-align: center;
    font: 1em arial, sans-serif;
    font-weight: bold;
    color: var(--text-color);
}

input {
    background-color: var(--lighter-color);
    color: white;
    margin: 8px;
    padding: 10px;
    border: none;
    outline: none;
}

input:focus {
    background-color: var(--input-color);
}

button {
    background-color: var(--input-color);
    color: white;
    margin: 8px;
    padding: 10px;
    border: none;
    outline: white;
}

button:disabled {
    background-color: var(--lighter-color);
    color: gray;
}

textarea {
    background-color: var(--lighter-color);
    color: white;
    margin: 8px;
    padding: 10px;
    border: none;
    resize: none;
    border: none;
    outline: none;
    height: 220px; /* BRUTE FORCE UNAVOIDABLE? */
}

textarea:focus {
    background-color: var(--input-color);
}

.container {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 2fr 193px 30px 2fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "a b c d"
        "e e c d";
    padding: 30px;
    border-radius: 16px;
}

.box {
    
}

#inputs {
    grid-area: a;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#textarea {
    grid-area: b;
}

#divider {
    grid-area: c;
    display: flex;
    vertical-align: middle;
}

#upload {
    grid-area: d;
    display: absolute;
    width: 295;
    height: auto;
    color: white;
    align-items: center;
    margin: 8px;
    border: 6px dashed var(--input-color);
    border-radius: 3px;
}

#submit {
    grid-area: e;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}