body {
    margin: 0;
    position: relative;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#errorPopup {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.successPopup {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
}

/* EVERYTHING ABOVE IS FOR CENTERING DIVS ON THE WEBPAGE ONLY - DO NOT TOUCH */

:root {
    --background-color: rgb(32, 34, 37);
    --main-color: rgb(47, 49, 54);
    --lighter-color: rgb(56, 59, 65);
    --input-color: rgb(72, 76, 82);
    --text-color: rgb(216, 217, 218);
    --error-color: rgb(211, 68, 68);
    --success-color: rgb(29, 185, 84);
    --upload-color: rgb(108, 129, 203);
}

::placeholder {
    color: gray;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--input-color);
}

textarea:focus::-webkit-scrollbar-thumb {
    background: var(--lighter-color);
}

::selection {
    color: inherit;
}

input::selection {
    background-color: lightblue;
    color: black;
}

textarea::selection {
    background-color: lightblue;
    color: black;
}
     
body {
    background-color: var(--background-color);
    color: white;
}

input {
    background-color: var(--lighter-color);
    font: 1em monaco, monospace;
    color: white;
    margin: 8px;
    padding: 10px;
    border: none;
    outline: none;
}

input:focus {
    background-color: var(--input-color);
}

button {
    background-color: var(--lighter-color);
    color: white;
    margin: 8px;
    padding: 10px;
    border: none;
    outline: white;
}

button:hover {
    background-color: var(--input-color);
}

button:disabled {
    color: gray;
}

button:disabled:hover {
    background-color: var(--lighter-color);
}

button:active {
    /* no click animation ;( */
}

textarea {
    background-color: var(--lighter-color);
    font: 1em monaco, monospace;
    overflow-wrap: normal;
    color: white;
    margin: 8px;
    padding: 10px;
    border: none;
    resize: none;
    outline: none;
    height: 220px; /* BRUTE FORCE UNAVOIDABLE AFAIK */
    width: 91.5%;
}

textarea:focus {
    background-color: var(--input-color);
}

.monospaceFont {
    margin: auto;
    text-align: center;
    font: 1.2em monaco, monospace;
    color: var(--text-color);
}

.specialFont {
	margin: auto;
    text-align: center;
    font: 1em arial, sans-serif;
    font-weight: bold;
    color: var(--text-color);
}

.specialFont.title {
	font-size: 1.8em;
	display: inline-block;
	padding: 10px;
}

.container {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 2fr 193px 30px 2fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "a b c d"
        "e e c d";
    padding: 30px;
    border-radius: 16px;
}

#errorHolder {
    background-color: var(--error-color);
    font-weight: bolder;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.4);
    transform: scale(0);
}

@keyframes growPopup {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes shrinkPopup {
    from { transform: scale(1); }
    to { transform: scale(0); }
}

.successPopup {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "a"
        "b"
        "c";
    padding: 16px;
    border-radius: 16px;
}

.navbar {
    height: 50px;
	overflow: hidden;
    background-color: var(--main-color);
    text-align: center;
    padding-right: 160px;
}

.dropdown {
    font: 1em arial, sans-serif;
    font-weight: bold;
    color: var(--text-color);
    float: left;
    overflow: hidden;
    width: 160px;
}

.dropdown.button {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: var(--lighter-color);
    height: 50px;
    margin: 0;
}

.dropdown.content {
    display: none;
    position: absolute;
    background-color: var(--lighter-color);
    margin-top: 50px;
    width: 160px;
    z-index: 1;
}

.dropdown.content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown.content a:hover {
    background-color: var(--input-color);
}

.dropdown:hover .dropdown.content {
    display: block;
}

#inputs {
    grid-area: a;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#textarea {
    grid-area: b;
}

#divider {
    grid-area: c;
    display: flex;
    vertical-align: middle;
}

#upload {
    grid-area: d;
    display: absolute;
    width: 295;
    height: auto;
    color: white;
    align-items: center;
    margin: 8px;
    border: 6px dashed var(--input-color);
    border-radius: 3px;
}

#submit {
    grid-area: e;
    
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
}